<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/share/head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<style>
     .box-content {
       width: 100%;
       height: auto;
       padding: 10px;
       margin: auto;
     }
     .title {
       text-align: center;
       margin-top: 10px;
     }
     .product-information {
       width: 48%;
       float: left;
     }
     .product-details {
       width: 48%;
       float: right;
     }
     input {
       width: 100%;
     }
     button {
       margin-top: 10px;
     }
     textarea {
       width: 100%;
     }
</style>
<!-- Site wrapper -->
<div class="wrapper">
    <!--Header -->
    <header th:replace="/admin/share/header"></header>

    <!--Control Panel - Menu) -->
    <aside th:replace="/admin/share/menu"></aside>

    <!-- =============================================== -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="box-content">
                <h2 class="title">Thêm Sản Phẩm</h2>
                <form th:action="@{/admin/add_product}" method="post" th:object="${productForm}" enctype="multipart/form-data">
                    <div class="product-information">
                        <label th:for="name">Tên sản phẩm:</label>
                        <input type="text" th:field="*{productDto.name}" placeholder="Ex: Hai số phận" required>

                        <label th:for="author">Tác giả:</label>
                        <input type="text" th:field="*{productDto.author}" placeholder="Ex: Jeffrey Archer" required>

                        <label th:for="price">Giá:</label>
                        <input type="number" th:field="*{productDto.price}" placeholder="Ex: 1000.0" required>

                        <label th:for="quantity">Số lượng:</label>
                        <input type="number" th:field="*{productDto.quantity}" required>

                        <label th:for="note">Note:</label>
                        <textarea th:field="*{productDto.note}"></textarea>

                        <label for="file">Chọn ảnh:</label>
                        <input type="file" id="file" name="file" accept="image/*" required>
                    </div>

                    <div class="product-details">
                        <label th:for="nhaphathanh">Nhà phát hành:</label>
                        <input type="text" th:field="*{productInfoDto.nhaphathanh}" placeholder="Ex: NXB Văn Học" required>

                        <label th:for="nxb">Nhà xuất bản:</label>
                        <input type="text" th:field="*{productInfoDto.nxb}" placeholder="Ex: NXB Văn Học" required>

                        <label th:for="ngayxb">Ngày xuất bản:</label>
                        <input type="date" th:field="*{productInfoDto.ngayxb}" required>

                        <label th:for="numberPage">Số trang:</label>
                        <input type="text" th:field="*{productInfoDto.numberPage}" placeholder="Ex: 100 trang" required>

                        <label th:for="size">Kích thước:</label>
                        <input type="text" th:field="*{productInfoDto.size}" placeholder="Ex: 13.5 x 20,5 cm" required>

                        <label th:for="weight">Khối lượng:</label>
                        <input type="text" th:field="*{productInfoDto.weight}" placeholder="Ex: 656 gram" required>

                        <label th:for="paragraph">Nội dung:</label>
                        <textarea th:field="*{productInfoDto.paragraph}" placeholder="Ex: “Hai số phận” (Kane & Abel) là..." required></textarea>
                    </div>

                    <button type="submit">Thêm Sản Phẩm</button>
                </form>
            </div>
        </section>
    </div>

    <footer th:replace="/admin/share/footer"></footer>
</div>
<div th:replace="/admin/share/Jquery"></div>
</body>
</html>