<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/share/head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<style>
     table {
         border-collapse: collapse;
         width: 100%;
     }

     th, td {
         border: 1px solid #ddd;
         padding: 8px;
         text-align: left;
     }

     th {
         background-color: #f2f2f2;
     }
</style>
<!-- Site wrapper -->
<div class="wrapper">
  <!--Header -->
  <header th:replace="/admin/share/header"></header>

  <!--Control Panel - Menu) -->
  <aside th:replace="/admin/share/menu"></aside>

  <!-- =============================================== -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <table>
        <thead>
        <tr>
          <th>Id</th>
          <th>Họ và tên</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Địa chỉ</th>
          <th>Note</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
          <td th:text="${customer.id}"></td>
          <td th:text="${customer.fullName}"></td>
          <td th:text="${customer.email}"></td>
          <td th:text="${customer.numberPhone}"></td>
          <td th:text="${customer.address}"></td>
          <td th:text="${customer.note}"></td>
          <td>
            <a th:href="@{'/delete/' + ${customer.id}}">Xóa</a>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>

  <footer th:replace="/admin/share/footer"></footer>
</div>
<div th:replace="/admin/share/Jquery"></div>
</body>
</html>