<aside class="main-sidebar" th:fragment = "menu">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <ul class="sidebar-menu" data-widget="tree">

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i> <span>Quản lý User</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/category/list_users"><i class="fa fa-circle-o"></i> Danh sách User</a></li>
                    <li><a href="/admin/category/add_user"><i class="fa fa-circle-o"></i> Thêm user</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i> <span>Quản lý sản phẩm</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/category/list_product"><i class="fa fa-circle-o"></i> Danh sách sản phẩm</a></li>
                    <li><a href="/admin/category/list_productdetail"><i class="fa fa-circle-o"></i> Chi tiết sản phẩm</a></li>
                    <li><a href="/admin/category/add_product"><i class="fa fa-circle-o"></i> Thêm sản phẩm</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i> <span>Quản lý hóa đơn</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/category/list_order"><i class="fa fa-circle-o"></i> Danh sách hóa đơn</a></li>
                    <li><a href="/admin/category/list_orderdetail"><i class="fa fa-circle-o"></i> Chi tiết hóa đơn</a></li>
                </ul>
            </li>

            <li>
                <a href="/admin/category/list_customer">
                    <i class="fa fa-th"></i> <span>Quản lý khách hàng</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Thống kê</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>