<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Link Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--Link Icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Link Css-->
    <link rel="stylesheet" th:href="@{/giohang.css}">
    
    <title th:text="${title}">Cart</title>
    <link rel='shortcut icon' href='/img/icon/favicon.ico' />
</head>
<body>

<div class="container">
    <!--top header-->
    <div class="topheader">
      <div class="container">
        <div class="mainbox">
          <div class="row">
            <div class="left_topheader">
              <a class="help_topheader" href=""><i class="fa-solid fa-circle-question"></i> Trợ giúp</a>&nbsp;&nbsp;&nbsp;
              <a class="sale_topheader" href=""><i class="fa-solid fa-gift"></i> Ưu đãi & tiện ích</a>&nbsp;&nbsp;&nbsp;
              <a class="promotion" href=""><i class="fa-solid fa-bell"></i> Thông báo</a>
            </div>
            <div class="right_topheader">
              <ul class="menu_topheader">
                <li><a th:href="@{/login}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Đăng nhập</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li><a th:href="@{/register}"><i class="fa-solid fa-user-shield"></i> Đăng kí</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--bottom header-->
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-3 img-header">
            <a th:href="@{/}">
              <img src="/img/logo.jpg" alt="Nhasach247">
            </a>
          </div>

          <div class="col-6 search_header">
              <form class="d-flex">
                <input type="text" placeholder="Bạn cần tìm gì ?">
                <i id="icon-input" class="fa-solid fa-magnifying-glass"></i>
                <button class="search" type="button">Search</button>
              </form>
          </div>

          <div class="col-3 cart-header">
            <div class="dropdown cart">
              <button type="button" class="btn">
                <a th:href="@{/cart}"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--start menu-->
    <div id="menu">
        <div class="container">
            <nav>
                <ul id="main-menu">
                    <li>
                        <a th:href="@{/}"><i class="fa-solid fa-house" style="color: #00cc66"></i> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#" style="font-weight: 600;">Danh mục sản phẩm</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">+ Nổi bật</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Sách mới</a>
                                    </li>
                                    <li>
                                        <a href="">Sắp phát hành</a>
                                    </li>
                                    <li>
                                        <a href="">Sách bán chạy</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/sachchuyennganh.html">+ Sách chuyên ngành</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Chính trị - Triết học</a>
                                    </li>
                                    <li>
                                        <a href="">Công nghệ thông tin</a>
                                    </li>
                                    <li>
                                        <a href="">Khoa học tự nhiên</a>
                                    </li>
                                    <li>
                                        <a href="">Lịch sử - Địa lý</a>
                                    </li>
                                    <li>
                                        <a href="">Mỹ thuật - Kiến trúc</a>
                                    </li>
                                    <li>
                                        <a href="">Khoa học xã hội</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/sachkinhte.html">+ Sách kinh tế</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Bài học kinh doanh</a>
                                    </li>
                                    <li>
                                        <a href="">Doanh nhân - Tập đoàn</a>
                                    </li>
                                    <li>
                                        <a href="">Khởi nghiệp</a>
                                    </li>
                                    <li>
                                        <a href="">Kinh tế học</a>
                                    </li>
                                    <li>
                                        <a href="">Kỹ năng làm việc</a>
                                    </li>
                                    <li>
                                        <a href="">Marketing - Bán hàng</a>
                                    </li>
                                    <li>
                                        <a href="">Tài chính - Kế toán</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/vanhoctrongnuoc.html">+ Văn học trong nước</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Tiểu thuyết</a>
                                    </li>
                                    <li>
                                        <a href="">Truyện ngắn - Tản văn</a>
                                    </li>
                                    <li>
                                        <a href="">Thơ</a>
                                    </li>
                                    <li>
                                        <a href="">Huyền bí - Giả tưởng</a>
                                    </li>
                                    <li>
                                        <a href="">Phóng sự - Ký sự</a>
                                    </li>
                                    <li>
                                        <a href="">Trinh thám - Kinh dị</a>
                                    </li>
                                    <li>
                                        <a href="">Tiểu sử - Hồi ký</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/hocngoaingu.html">+ Học ngoại ngữ</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Từ điển</a>
                                    </li>
                                    <li>
                                        <a href="">Sách học tiếng Anh</a>
                                    </li>
                                    <li>
                                        <a href="">Sách học tiếng Nhật</a>
                                    </li>
                                    <li>
                                        <a href="">Sách học tiếng Hoa</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/sach-ky-nang-song.html">+ Sách kĩ năng sống</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Kỹ năng sống</a>
                                    </li>
                                    <li>
                                        <a href="">Nghệ thuật sống đẹp</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/sach-thieu-nhi.html">+ Sách thiếu nhi</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Truyện cổ tích - Thần thoại</a>
                                    </li>
                                    <li>
                                        <a href="">Kĩ năng - Kiến thức</a>
                                    </li>
                                    <li>
                                        <a href="">Vừa học - Vừa chơi</a>
                                    </li>
                                    <li>
                                        <a href="">Văn học</a>
                                    </li>
                                    <li>
                                        <a href="">Truyện kể cho bé</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/sach-tuoi-teen.html">+ Sách tuổi teen</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Hướng nghiệp - Kĩ năng</a>
                                    </li>
                                    <li>
                                        <a href="">Văn học teen</a>
                                    </li>
                                    <li>
                                        <a href="">Light Novel</a>
                                    </li>
                                    <li>
                                        <a href="">Truyện tranh - Comic</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/pages/blog}" style="font-weight: 600;">Blog</a>
                    </li>
                    <li>
                        <a th:href="@{/pages/intro}" style="font-weight: 600;">Giới thiệu</a>
                    </li>
                    <li>
                        <a th:href="@{/pages/contact}" style="font-weight: 600;">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Breadcrumbs -->
    <div class="container p-0">
        <div class="row">
          <div class="col-12">
            <ol class="breadcrumb bg-light col-12">
              <li class="breadcrumb-item">
              <a href="#">Trang chủ</a>
              <span class="divider"></span>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
              Giỏ hàng
              </li>
            </ol>
          </div>
        </div>
    </div>

    <!--cart-->
    <section class="h-custom">
        <div class="cart">
            <form id="orderForm">
                <div class="row">
                    <div class="col-8">
                        <table class="cart-table table table-striped" id="table_pay">
                            <thead class="cart-header bg-dark text-white">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Ảnh sản phẩm</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Thành tiền</th>
                                <th scope="col">Hành động</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Dòng sản phẩm của bạn -->
                            <tr th:each="cartItem, cartItemStat : ${cartItems}" th:object="${cartItem}">
                                <th th:text="${cartItemStat.index + 1}"></th>
                                <td class="product-id" style="display: none;" th:text="${cartItem.productId}"></td>
                                <td><img class="cart-img" th:src="${cartItem.productImgUrl}"></td>
                                <td class="product-name" th:text="${cartItem.productName}"></td>
                                <td class="product-price" th:text="${cartItem.price}"></td>
                                <td style="width: 70px;">
                                    <input min="1" name="quantity" th:value="${cartItem.quantity}" type="number" class="form-control form-control-sm quantity-input" />
                                </td>
                                <td class="total-price" th:text="${cartItem.price * cartItem.quantity}"></td>
                                <td>
                                    <a class="btn btn-sm btn-danger" th:href="@{/cart/removeCartItem/{id}(id=${cartItem.productId})}">Xóa</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <a class="return-home" th:href="@{/}"><i class="fa-solid fa-arrow-left"></i> Quay lại trang chủ</a>

                        <!--total amount-->
                        <div class="total-amount">
                            <p class="total-text">Tổng tiền:</p>
                            <span class="amount-money" id="tongTien">0 VND</span>
                        </div>
                    </div>
                    <div class="col-4 customer-infor">
                        <div class="purchase-infor">
                            <h1 class="purchase-text">THÔNG TIN THANH TOÁN</h1>
                            <!-- Dòng nhập tên khách hàng -->
                            <div class="customer-lbinput">
                                <label for="customerName">Họ và Tên</label>
                                <input type="text" id="customerName" name="customerName" placeholder="Ex: Bùi Thanh Tường" required>
                            </div>
                            <!-- Dòng nhập tên khách hàng -->
                            <div class="customer-lbinput">
                                <label for="customerEmail">Email</label>
                                <input type="text" id="customerEmail" name="customerEmail" placeholder="Nhập email" required>
                            </div>
                            <!-- Dòng nhập sdt -->
                            <div class="customer-lbinput">
                                <label for="customerPhone">Số điện thoại</label>
                                <input type="tel" id="customerPhone" name="customerPhone" oninput="return validatePhoneNumber()" placeholder="Nhập số điện thoại" required>
                            </div>
                            <!-- Dòng nhập địa chỉ -->
                            <div class="customer-lbinput">
                                <label for="customerAddress">Địa chỉ</label>
                                <textarea type="text" id="customerAddress" name="customerAddress" required></textarea>
                            </div>
                            <!-- Dòng chọn phương thức thanh toán -->
                            <div class="customer-lbinput">
                                <form>
                                    <label for="paymentMethod">Chọn phương thức thanh toán</label>
                                    <select id="paymentMethod" name="paymentMethod">
                                        <option value="credit-card">Thẻ tín dụng</option>
                                        <option value="cod">COD-Thanh toán khi nhận hàng</option>
                                    </select>
                                </form>
                            </div>

                            <a type="button" class="btn btn-payment" id="paymentButton">Thanh toán</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <br>
    <!--footer-->
    <div id="footer">
        <div class="container-fluid container-footer">
            <div class="row">
                <!--liên hệ-->
                <div class="col-3 footer-post">
                    <ul>
                        <li style="text-transform: uppercase; color: #111; font-weight: 500;">Thông Tin Liên Hệ</li>
                        <li>
                            Hotline:
                            <b style="color: #00cc66;">0818 385 099</b>
                        </li>
                        <li>Email: nhasach247@ga.vn</li>
                    </ul>
                </div>
                <!--tài khoản-->
                <div class="col-3 footer-post">
                    <ul>
                        <li style="text-transform: uppercase; color: #111; font-weight: 500;">Tài Khoản</li>
                        <li>
                            <a href="#" title="Tài khoản">Tài khoản</a>
                        </li>
                        <li>
                            <a href="#" title="Danh sách đơn hàng">Danh sách đơn hàng</a>
                        </li>
                        <li>
                            <a href="#" title="Thông báo">Thông báo</a>
                        </li>
                        <li>
                            <a href="#" title="Lịch sử giao dịch">Lịch sử giao dịch</a>
                        </li>
                    </ul>
                </div>
                <!--trợ giúp-->
                <div class="col-3 footer-post">
                    <ul>
                        <li style="text-transform: uppercase; color: #111; font-weight: 500;">Trợ giúp</li>
                        <li>
                            <a href="#" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a>
                        </li>
                        <li>
                            <a href="/overview/payment-methods.html" title="Phương thức thanh toán">Phương thức thanh toán</a>
                        </li>
                        <li>
                            <a href="#" title="Phương thức vận chuyển">Phương thức vận chuyển</a>
                        </li>
                        <li>
                            <a href="/overview/cau-hoi-thuong-gap.html" title="Câu hỏi thường gặp (FAQs)">Câu hỏi thường gặp (FAQs)</a>
                        </li>
                    </ul>
                </div>

                <!--xã hội-->
                <div class="col-3 footer-post">
                    <ul>
                        <li style="text-transform: uppercase; color: #111; font-weight: 500;">Mạng xã hội</li>
                        <li>
                            <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i> Nhasach247</a>
                        </li>
                        <li>
                            <a href="#" title="Facebook"><i class="fa-brands fa-facebook" style="color: #1877F2"></i> Nhasach247.ga</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div style="text-align: center; border-top: 1px solid white;"> Copyright © 2023 Nhasach247</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //Kiểm tra sdt trong form cart
    function validatePhoneNumber() {
        var phoneNumber = document.getElementById('customerPhone').value;
        var regex = /^[0-9]*$/; // Chỉ chấp nhận các ký tự số
        if (!regex.test(phoneNumber)) {
            alert('Vui lòng nhập số điện thoại hợp lệ.');
            document.getElementById('customerPhone').value = "";
            return false;
        }
        return true;
    }

   document.addEventListener('DOMContentLoaded', function() {
       updateTotal();
       // Lắng nghe sự kiện thay đổi số lượng
       document.addEventListener('input', function(event) {
           if (event.target && event.target.classList.contains('quantity-input')) {
               updateTotal();
           }
       });
   });

   function updateTotal() {
       var total = 0;
       // Lặp qua các dòng trong bảng
       var rows = document.querySelectorAll('tbody tr');
       rows.forEach(function(row) {
           var quantity = parseInt(row.querySelector('.quantity-input').value, 10);
           var price = parseFloat(row.querySelector('.product-price').innerText);
           var subtotal = quantity * price;
           total += subtotal;
           row.querySelector('.total-price').innerText = subtotal + ' VND';
       });
       // Cập nhật tổng tiền
       document.getElementById('tongTien').innerText = total + ' VND';
   }

    //Lay du lieu
    document.getElementById('paymentButton').addEventListener('click', function(event) {

         var formIsValid = true;

        // Check email format using a regular expression
        var emailValue = document.getElementById('customerEmail').value;
        if (emailValue !== "") {
            // Check email format using a regular expression
            var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            if (!emailValue.match(emailPattern)) {
                alert('Địa chỉ email không hợp lệ.');
                formIsValid = false;
            }
        }

        if (!formIsValid) {
            event.preventDefault();
            return;
        }

        // Lấy thông tin khách hàng từ form
        var nameCustomer = document.getElementById('customerName').value;
        var email = document.getElementById('customerEmail').value;
        var phone = document.getElementById('customerPhone').value;
        var address = document.getElementById('customerAddress').value;
        var paymentMethods = document.getElementById('paymentMethod').value;

        // Lấy thông tin sản phẩm từ bảng
        var products = [];
        var rows = document.querySelectorAll('#table_pay tbody tr');
        rows.forEach(function(row) {
            var product = {
                productId: row.querySelector('.product-id').innerText,
                quantity: parseInt(row.querySelector('.quantity-input').value, 10)
            };
            products.push(product);
        });

        // Tạo đối tượng chứa dữ liệu
        var orderData = {
            nameCustomer: nameCustomer,
            email: email,
            phone: phone,
            address: address,
            paymentMethods: paymentMethods,
            products: products
        };
        console.log('Data to be sent:', orderData);

        // Sử dụng Fetch API để gửi dữ liệu đến trang thanh toán
        fetch('/order/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(orderData)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Response from payment page:', data);
        })
        .catch(error => {
            console.error('Error sending data to payment page:', error);
        });
    });
</script>
</body>
</html>