<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Link Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!--Link Icon-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--Link Css-->
        <link rel="stylesheet" th:href="@{/productInfo.css}">

        <title th:text="${title}">Nhasach247.ga</title>
        <!--Biểu tượng-->
        <link rel='shortcut icon' href='/img/icon/favicon.ico' />
    </head>
<body>
<div class="container" th:each="product: ${product}">
    <!--top header-->
    <div class="topheader">
        <div class="container">
            <div class="mainbox">
                <div class="row">
                    <div class="left_topheader">
                        <a class="help_topheader" href="#"><i class="fa-solid fa-circle-question"></i> Trợ giúp</a>&nbsp;&nbsp;&nbsp;
                        <a class="sale_topheader" href="#"><i class="fa-solid fa-gift"></i> Ưu đãi & tiện ích</a>&nbsp;&nbsp;&nbsp;
                        <a class="promotion" href="#"><i class="fa-solid fa-bell"></i> Thông báo</a>
                    </div>
                    <div class="right_topheader">
                        <ul class="menu_topheader">
                            <li><a th:href="@{/login}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Đăng nhập</a></li>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <li><a th:href="@{/register}"><i class="fa-solid fa-user-shield"></i> Đăng kí</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--bottom header-->
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-3 img-header">
                    <a th:href="@{/}">
                        <img src="/img/logo.jpg" alt="Nhasach247">
                    </a>
                </div>

                <div class="col-6 search_header">
                    <form class="d-flex">
                        <input id="import" type="text" placeholder="Bạn cần tìm gì ?">
                        <i id="icon-input" class="fa-solid fa-magnifying-glass"></i>
                        <button class="search" type="button" onclick="kiemtra()">Search</button>
                    </form>
                </div>

                <div class="col-3 cart-header">
                    <div class="dropdown cart">
                        <button type="button" class="btn">
                            <a th:href="@{/cart}"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--start menu-->
    <div id="menu">
        <div class="container">
            <nav>
                <ul id="main-menu">
                    <li>
                        <a th:href="@{/}"><i class="fa-solid fa-house" style="color: #00cc66"></i> Trang chủ</a>
                    </li>
                    <li>
                        <a href="#" style="font-weight: 600;">Danh mục sản phẩm</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">+ Nổi bật</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Sách mới</a>
                                    </li>
                                    <li>
                                        <a href="">Sắp phát hành</a>
                                    </li>
                                    <li>
                                        <a href="">Sách bán chạy</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/sachchuyennganh.html">+ Sách chuyên ngành</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Chính trị - Triết học</a>
                                    </li>
                                    <li>
                                        <a href="">Công nghệ thông tin</a>
                                    </li>
                                    <li>
                                        <a href="">Khoa học tự nhiên</a>
                                    </li>
                                    <li>
                                        <a href="">Lịch sử - Địa lý</a>
                                    </li>
                                    <li>
                                        <a href="">Mỹ thuật - Kiến trúc</a>
                                    </li>
                                    <li>
                                        <a href="">Khoa học xã hội</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/sachkinhte.html">+ Sách kinh tế</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Bài học kinh doanh</a>
                                    </li>
                                    <li>
                                        <a href="">Doanh nhân - Tập đoàn</a>
                                    </li>
                                    <li>
                                        <a href="">Khởi nghiệp</a>
                                    </li>
                                    <li>
                                        <a href="">Kinh tế học</a>
                                    </li>
                                    <li>
                                        <a href="">Kỹ năng làm việc</a>
                                    </li>
                                    <li>
                                        <a href="">Marketing - Bán hàng</a>
                                    </li>
                                    <li>
                                        <a href="">Tài chính - Kế toán</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/vanhoctrongnuoc.html">+ Văn học trong nước</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Tiểu thuyết</a>
                                    </li>
                                    <li>
                                        <a href="">Truyện ngắn - Tản văn</a>
                                    </li>
                                    <li>
                                        <a href="">Thơ</a>
                                    </li>
                                    <li>
                                        <a href="">Huyền bí - Giả tưởng</a>
                                    </li>
                                    <li>
                                        <a href="">Phóng sự - Ký sự</a>
                                    </li>
                                    <li>
                                        <a href="">Trinh thám - Kinh dị</a>
                                    </li>
                                    <li>
                                        <a href="">Tiểu sử - Hồi ký</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/hocngoaingu.html">+ Học ngoại ngữ</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Từ điển</a>
                                    </li>
                                    <li>
                                        <a href="">Sách học tiếng Anh</a>
                                    </li>
                                    <li>
                                        <a href="">Sách học tiếng Nhật</a>
                                    </li>
                                    <li>
                                        <a href="">Sách học tiếng Hoa</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/sach-ky-nang-song.html">+ Sách kĩ năng sống</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Kỹ năng sống</a>
                                    </li>
                                    <li>
                                        <a href="">Nghệ thuật sống đẹp</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/sach-thieu-nhi.html">+ Sách thiếu nhi</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Truyện cổ tích - Thần thoại</a>
                                    </li>
                                    <li>
                                        <a href="">Kĩ năng - Kiến thức</a>
                                    </li>
                                    <li>
                                        <a href="">Vừa học - Vừa chơi</a>
                                    </li>
                                    <li>
                                        <a href="">Văn học</a>
                                    </li>
                                    <li>
                                        <a href="">Truyện kể cho bé</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/danhmuc/1/sach-tuoi-teen.html">+ Sách tuổi teen</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="">Hướng nghiệp - Kĩ năng</a>
                                    </li>
                                    <li>
                                        <a href="">Văn học teen</a>
                                    </li>
                                    <li>
                                        <a href="">Light Novel</a>
                                    </li>
                                    <li>
                                        <a href="">Truyện tranh - Comic</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/pages/blog}" style="font-weight: 600;">Blog</a>
                    </li>
                    <li>
                        <a th:href="@{/pages/intro}" style="font-weight: 600;">Giới thiệu</a>
                    </li>
                    <li>
                        <a th:href="@{/pages/contact}" style="font-weight: 600;">Liên hệ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Breadcrumbs -->
    <div class="container p-0">
        <div class="row">
          <div class="col-12">
            <ol class="breadcrumb bg-light col-12" style="font-size:13px">
              <li class="breadcrumb-item">
              <a href="#">Trang chủ</a>
              <span class="divider"></span>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <span th:text="${product.name}"></span>
                <span class="divider"></span>
              </li>
            </ol>
          </div>
        </div>
    </div>

    <!--main-->
    <div class="container content">
        <div class="main-left">
            <div class="img-detail">
                <img th:src="${product.imageUrl}">
            </div>
        </div>
        <div class="main-info">
            <h1 th:text="${product.name}"></h1>
            <div class="list">
                <a href="#" th:text="${product.author}"></a>
                <small>(Tác giả)</small>
            </div>
            <div class="offer">
                <p class="price" th:text="${product.price} + ' đ'"></p>
            </div>
            <div class="status">
                <div class="status-1">Trình trạng:&nbsp;</div>
                <div class="status-2" th:text="${condition}"></div>
            </div>
            <div class="tags" style="margin: 8px 0;">
                <div class="tags-title">Tags:&nbsp;</div>
                <span><a href="#">Văn học nước ngoài</a></span>
            </div>
            <div class="book">
                <form id="add-to-cart-form" method="post" th:action="@{/cart/add}">
                    <!-- Hidden input for CSRF token -->
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <!-- Input fields for productId, productName, and quantity -->
                    <input type="hidden" id="productId" th:name="productId" th:value="${product.id}" />
                    <input type="hidden" id="productImgUrl" th:name="productImgUrl" th:value="${product.imageUrl}" />
                    <input type="hidden" id="productName" th:name="productName" th:value="${product.name}"/>
                    <input type="hidden" id="productPrice" th:name="productPrice" th:value="${product.price}"/>
                    <input type="hidden" id="quantity" th:name="quantity" th:value="1"/>

                    <div class="cart-hol-inner">
                        <button type="submit" class="btn add-to-cart">Thêm vào giỏ hàng</button>
                    </div>
                </form>
                <!-- Display message after adding to cart -->
                <div th:if="${param.success != null}">
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var successMessage = /*[[${param.success}]]*/ 'Không thể thêm sản phẩm vào giỏ hàng.';
                        alert(successMessage);
                        /*]]>*/
                    </script>
                </div>
            </div>
        </div>
        <div class="main-right">
            <div class="box-right">
                <form action="" method="post">
                    <div class="box-1">
                        <ul>
                            <li><i class="fa-regular fa-heart"></i> Thêm vào yêu thích</li>
                            <li><i class="fa-solid fa-user-shield"></i> Ưu đãi Khánh hàng thân thiết</li>
                            <li><i class="fa-solid fa-truck"></i> Để được miễn phí vận chuyển</li>
                            <li>
                                <button type="submit" class="btn fb-like"><i class="fa-solid fa-thumbs-up"></i> Like</button>
                                <button type="submit" class="btn tweet"><i class="fa-brands fa-twitter"></i> Tweet</button>
                                <button type="submit" class="btn ptr"><i class="fa-brands fa-pinterest-square"></i> Save</button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="detail" th:each="productInfo: ${productInfo}">
          <div class="detail-1">
            <div class="container-fluid">
              <div class="detail-left">
                <p class="info">Thông tin chi tiết</p>
                <div class="detail-left-1">
                  <ul>
                    <li class="item-p">
                      Nhà xuất bản: <a href="#" th:text="${productInfo.nxb}"></a>
                    </li>
                    <li class="item-p">
                        Ngày xuất bản: <p th:text="${productInfo.ngayxb}"></p>
                    </li>
                    <li class="item-p">
                      Nhà phát hành: <a href="#" th:text="${productInfo.nhaphathanh}"></a>
                    </li>
                    <li class="item-p">
                        Kích thước: <p th:text="${productInfo.size}"></p>
                    </li>
                    <li class="item-p">
                        Số trang: <p th:text="${productInfo.numberPage}"></p>
                    </li>
                    <li class="item-p">
                        Trọng lượng: <p th:text="${productInfo.weight}"></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="desscription">
                <p class="intro">Giới thiệu sản phẩm</p>
                <div class="des-des">
                  <h2 style="text-align: center;">
                    <span style="color: #006400; font-size: 24px;">
                      <strong th:text="${product.name}"></strong>
                    </span>
                  </h2>
                  <p style="text-align: justify;">
                  <br>
                    <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                      <span style="font-size: 14px; line-height: 2em;" th:text="${productInfo.paragraph}"></span>
                    </span>
                  </p>
                </div>
                <div class="comment">
                  <section>
                    <div class="container-fluid text-dark" style="padding: 0;">
                      <div class="row d-flex justify-content-center">
                        <div class="col-12">
                          <div class="card" style="border: none;">
                            <div class="card-body">
                              <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                  src="https://secure.gravatar.com/avatar/?s=56&d=mm&r=g" alt="avatar" width="65"
                                  height="65" />
                                <div class="w-100">
                                  <h5>Comment</h5>
                                  <div class="form-outline">
                                    <textarea class="form-control" id="textAreaExample" rows="4" placeholder="Hãy trỡ thành người bình luận đầu tiên!"></textarea>
                                    <label class="form-label" for="textAreaExample">Bình luận của bạn</label>
                                  </div>
                                  <div class="d-flex justify-content-between">
                                    <button type="button" class="btn btn-success">Xóa bình luận</button>
                                    <button type="button" class="btn btn-danger">
                                      Gửi <i class="fas fa-long-arrow-alt-right ms-1"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div id="wpd-threads" class="wpd-thread-wrapper">
                  <div class="wpd-thread-head">
                    <div class="wpd-thread-info" data-comments-count="0"> 
                      <span class="wpdtc" title="0">0</span> 
                      Góp ý
                    </div>
                    <div class="wpd-space"></div>
                    <div class="wpd-thread-filter">
                      <div class="wpd-filter wpdf-reacted wpd_not_clicked" wpd-tooltip="Bình luận phản ứng nhiều nhất">
                        <i class="fas fa-bolt"></i>
                      </div>
                      <div class="wpd-filter wpdf-hottest wpd_not_clicked" wpd-tooltip="Chủ đề bình luận hot nhất">
                        <i class="fas fa-fire"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <br>

    <!--footer-->
    <div id="footer">
            <div class="container-fluid container-footer">
                <div class="row">
                    <!--liên hệ-->
                    <div class="col-3 footer-post">
                        <ul>
                            <li style="text-transform: uppercase; color: #111; font-weight: 500;">Thông Tin Liên Hệ</li>
                            <li>
                                Hotline:
                                <b style="color: #00cc66;">0818 385 099</b>
                            </li>
                            <li>Email: nhasach247@ga.vn</li>
                        </ul>
                    </div>
                    <!--tài khoản-->
                    <div class="col-3 footer-post">
                        <ul>
                            <li style="text-transform: uppercase; color: #111; font-weight: 500;">Tài Khoản</li>
                            <li>
                                <a href="#" title="Tài khoản">Tài khoản</a>
                            </li>
                            <li>
                                <a href="#" title="Danh sách đơn hàng">Danh sách đơn hàng</a>
                            </li>
                            <li>
                                <a href="#" title="Thông báo">Thông báo</a>
                            </li>
                            <li>
                                <a href="#" title="Lịch sử giao dịch">Lịch sử giao dịch</a>
                            </li>
                        </ul>
                    </div>
                    <!--trợ giúp-->
                    <div class="col-3 footer-post">
                        <ul>
                            <li style="text-transform: uppercase; color: #111; font-weight: 500;">Trợ giúp</li>
                            <li>
                                <a href="#" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a>
                            </li>
                            <li>
                                <a href="/overview/payment-methods.html" title="Phương thức thanh toán">Phương thức thanh toán</a>
                            </li>
                            <li>
                                <a href="#" title="Phương thức vận chuyển">Phương thức vận chuyển</a>
                            </li>
                            <li>
                                <a href="/overview/cau-hoi-thuong-gap.html" title="Câu hỏi thường gặp (FAQs)">Câu hỏi thường gặp (FAQs)</a>
                            </li>
                        </ul>
                    </div>

                    <!--xã hội-->
                    <div class="col-3 footer-post">
                        <ul>
                            <li style="text-transform: uppercase; color: #111; font-weight: 500;">Mạng xã hội</li>
                            <li>
                                <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i> Nhasach247</a>
                            </li>
                            <li>
                                <a href="#" title="Facebook"><i class="fa-brands fa-facebook" style="color: #1877F2"></i> Nhasach247.ga</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div style="text-align: center; border-top: 1px solid white;"> Copyright © 2023 Nhasach247</div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>